@import '../style/mixin';

/* 菜单配置 */
.bc-menu-continer{
    overflow: auto;
    box-shadow: 0 0 5px 0 rgba(100,100,100,.5);
    transition: left .3s;
    &.bc-menu-continer-uncollapse{
        overflow:unset;
    }
	.bc-menu-title{
		.bc-nav-title{
			height:0;
			transition: all .5s;
			overflow: hidden;
			display: inline;
		}
		.el-radio-button{
			.el-radio-button__inner{
				padding:0;
				margin-left:10px;
				border-radius:unset;
				border:none;
				background-color: transparent;
			}
	    }
	}
	.bc-menu-collapse{
		&.bc-menu-title{
			@include fj()
			.bc-nav-title{
				&.bc-nav-title-show{
					height: 100%;
					font-size: 12px;
					width: auto;
					line-height: 16px;
				}
			}
		}
	}
}
/* 主体信息配置 */
.bc-continer{
    .el-header,.el-main{
        padding:15px;
    }
    .el-header{
        height:40px!important;
        margin-left: 2px;
        padding:0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .iconfont{
            vertical-align: text-bottom;
            margin-right: 5px;
        }
    }
}
/* 滚动条配置  高度根据需要设置 */
.bc-scrollbar{
    height: calc(100% - 36px);
    .el-scrollbar__wrap{
        overflow-y: scroll;
        overflow-x:hidden;
    }
    .el-scrollbar__bar{
        .el-scrollbar__thumb{
            background-color: #3c8dbc;
        }
    }
}
/* form 表单*/
//.bc-form{
//  padding:10px;
//  .bc-form-row{
//      display: block;
//      &.bc-toolbar{
//          display: flex;
//          justify-content: flex-end;
//      }
//  }
//  .el-input--suffix{
//      width:calc(100% - 20px)
//  }
//  
//}
//.el-select-dropdown{
//  min-width: 200px!important;
//}
.el-time-spinner{
    width: 100%;
    white-space: nowrap;
}
.el-menu-item,.el-submenu__title{
    .iconfont{
        font-weight: 700;
        speak: none;
        width: 16px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 991px){
    .bc-header .user-basic ul li{
        margin:0!important;    
    }
    .margin-sm-and-left{
        position:fixed;
        top:60px;
        left:-252px;
        bottom:0;
        z-index:100;
        &.bc-menu-continer-uncollapse{
            left:-65px;
        }
    }
//  .bc-form .el-input--suffix {
//      width: calc(100% - 11px);
//  }
}
.show-sm-and-down{
   left:0;
}
