$commonColor:#fff !default;                /* 默认布局中颜色 */
$backgroundHeader:#3c4d57 !default;        /* header背景颜色 */
$userMsgIcon:#000 !default;                /* header 中icon的颜色  */
$menuHover:#00A6C0 !default;               /* 菜单hover颜色  */
$menuBackground:#fafdff !default;          /* 菜单背景颜色 */
$menuHeaderBackground:#e2e6e7 !default;    /* 菜单标题导航颜色 */
$menuHeaderFont:#000 !default;             /* 菜单标题文字颜色  */
$menuHeaderFontIcon:#a0befa !default;      /* 菜单标题文字图标颜色  */
$breadcrumbBackground:#ecf0f5 !default;    /* 面包屑背景颜色 */
$menuactiveBackground:rgb(214, 215, 224)  !default;    /* 菜单活动背景颜色 */


/* 进度条颜色 */
.app-main-container #nprogress .bar{
    background-color:#000;
}
.app-main-container #nprogress .spinner-icon{
    border-top-color: #000;
    border-left-color: #000;
}
/* 进度条颜色 */
