.bc-header {
    background-color: $backgroundHeader;
	border-bottom-color: $commonColor;
	.menu-icon-expand{
	    color:$commonColor;
	}
	.logo-continer{
		color:$commonColor;
	}
	.user-basic{
		color:$commonColor;
		.user-info{
		  color:$commonColor;
		}
	}
	.user-msg{
	  background: $commonColor;
	  i{
		color:$userMsgIcon;
	  }
	}
}
.user-op{
	li{
		background:$commonColor;
	}
	li:hover{
		background:$menuHover;
	}
}

.bc-menu-continer{
	background-color: $menuBackground;
	.bc-menu-title{
		background-color: $menuHeaderBackground;
		.bc-nav-title{
			color:$menuHeaderFont;
		}
		.el-radio-button{
            .el-radio-button__inner{
                color:$menuHeaderFontIcon;
            }
        }
	}
	.el-menu{
		border-right-color: $menuBackground;
		background-color: $menuBackground;
		color: $commonColor;
	}
}
/* 面包屑背景颜色 */
.bc-continer{
    .el-header.bc-Breadcrumb{
        background-color:$breadcrumbBackground
    }
}
.bc-menu-main{
	.el-submenu{
		.el-menu-item:hover,.el-submenu__title:hover{
			background-color: $menuactiveBackground !important
		}
	}
}
